{% extends 'base.html.twig' %}
{% block body %}
<h1>Manage App {{ currentApp.name }}</h1>
<h2>Menus</h2>
<ul>

<div id="form-container"></div>


{% endblock %}

{% block javascripts %}
{{ parent() }}
{#    {{ encore_entry_script_tags('manageAppIndex') }}#}
{% endblock %}